@{
    ViewBag.Title = "Contato";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Juanir Rodrigues<br />
        <abbr title="Phone">P:</abbr>
        1998371221
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:Support@example.com">juanirsr@gmail.com</a><br />
        
    </address>
</main>